<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>User Id</th>
      <th>Work Time</th>
      <th>direct</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataView">
      <td>{{item.rid}}</td>
      <td>{{item.fk_user}}</td>
      <td>{{item.time | date:'medium'}}</td>
      <td>{{item.direct}}</td>
      <td><span class="status text-success">&bull;</span>{{item.type}}</td>
    </tr>
  </tbody>
</table>