<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-5">
      <h2><b>{{title}}</b></h2>
    </div>
          </div>
      </div>
    <app-table></app-table>  
